:root{
    --important--color:#101E38;
    --white--color:#fff;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
  }
  html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  /**************************** ID:HEADER *****************************/
  
  #header{
    width: 100%;
    position: relative;
  
  }
  .header__top{
    background-color: #101E38;
    width: 100%;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header__left{
    width:70%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .header__logo{
    width:200px;
    margin-left: 20px;
  }
  .header__name-logo{
    color: white;
    font-weight: 700;
    font-size: 2.6rem;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
  }
  .header__right{
    width: 40%;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .info-user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .info-people{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-user{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .name-user{
    padding: 10px 10px 0px;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }
  .role-user{
    font-size: 1.4rem;
  }
  
  .info__icon-logout{
    font-size:2.6rem;
    color:white;
    margin: 0px 20px;
  }
  .icon-logout:hover{
    cursor: pointer;
  }
  
.header__name-project p{
    margin-bottom:0px;
    background-color: #cccc;
    font-size:2.4em;
    font-weight:700;
    text-transform:uppercase;
    text-align:center;
  }
  /***************************************************** HEADER_MENU ******************************************************/
.header__menu{
  background-color: #172B5B;
  height:65px;
}
.header__menu ul{
  display: flex;
  justify-content:flex-start;
  line-height:65px;
  list-style-type: none;
}
.header__menu ul li {
  width: 15%;
  text-align: center;
}
.header__menu ul li:hover a{
  background-color:#fff;
  color: #101E38;
  
}
.header__menu ul .header_menu_icon{
  color: white;
  margin-right: 5px;
  font-size: 40px;
}
.header__menu ul li a{
  font-size:1.6rem;
  display:block;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.header_menuMember{
  width:70%;
  margin: 0px auto;
}
nav{
  background-color:#2A4B9A;
}
.header_menuMember nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header_menuMember li{
  width:33.33%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.header_menuMember li:hover a{
  background-color:#ccc;
  color:white;
  text-decoration: none;
  display:block;
  height: 40px;
}
.header_menuMember a{
  font-size:1.8rem;
  text-decoration: none;
  color:white;
}
.header_content{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  
}
.header_btnleft{
  display: flex;
  width: 40%;
}
.header_btnleft h2{
  width: 300px;

}
.report-week-month{
  display: block;
  width: 300px;

}
.report-week-month a{
  font-size:1.8rem;
  list-style: none;
  text-decoration: none;
  color:rgb(17, 16, 16);
  border: solid 1px #2196F3;
  margin-right: 5px;
  padding: 5px;
}
.header_btnright{
  font-size:1.8rem;
  border: solid 1px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px #000000;
  background-color: rgb(143, 128, 128);
  border-radius: 3px;
}

/* --------------------------------container--------------------- */
.content{
  width:70%;
  margin:0px auto;
  margin-top: 30px;

}
h1{
  color: #000000;
  font-size: 30px;
  text-align: center;
  margin:10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
form{
  border:1px solid black;
  width:100%;
  padding: 10px ;
  box-shadow:0px 0px 5px #000000 ;
  margin-top: 30px;
}
form div{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;

}
.content label{
  width: 30%;
  margin-left: 15px;
}

.button-account{
  width: 120px;
}
label{
  font-size: 1.8rem;
  font-weight: 700;
}
input[type=text],input[type=password],
#member{
  width:90%;
  height:40px;
  border-radius: 10px;
  padding:12px;
  border:1px solid #ccc;
  font-size: 1.8rem;
}
textarea {
  width:60%;
  height:90px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.content__tools button{
  padding:10px 30px;
  border-radius: 10px;
  background-color: #2A4B9A;
  color:white;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
}
.content__tools button:hover{
  opacity: 0.7;
}
.content_title{
  color: #000000;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
  font-weight: 800;
}
/* ---------------------------sidebar------------------------- */
.body-reports{
  border: solid 1px; 
  border-radius: 7px ;
}
label {
  display: inline;
  margin-bottom: 0.5rem;
}

.sidebar{
  /* margin-top: 20px; */

  margin: 30px auto;
  border: 1px solid #000000;
  padding: 10px;

  margin-bottom: 0px;
}

.table-responsive {
  margin: 30px 0;
}
.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.header-table{
  background: #2A4B9A;
  color: rgb(252, 249, 249);
}
.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr td{
  font-size: 1.8rem;
}
thead tr th{
  font-size: 1.8rem;
  /* color:#172B5B; */
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}	
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}
table.table td a:hover {
  color: #2196F3;
}
table.table td a.edit {
  color: #2196F3;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}
.text-success {
  color: #10c469;
}
.text-info {
  color: #62c9e8;
}
.text-warning {
  color: #FFC107;
}
.text-danger {
  color: #ff5b5b;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {        
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 14px;
}

.sidebar__search{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
