/* table, th, td {
    border:1px solid black;
    text-align: center;
}
.add-row{
    background-color: yellow;
    width: 100%;
} */

table {
    text-align: center;
    border:1px solid black;
  }

#myTable tr th, #myTable tr td {
    border-color: #e9e9e9;
    padding: 3px 5px;
    vertical-align: middle;
    font-size: 14px;
}