:root{
    --important--color:#101E38;
    --white--color:#fff;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
}
html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/**************************** ID:HEADER *****************************/

#header{
    width: 100%;
    position: relative;
}
.header__top{
    background-color: #101E38;
    width: 100%;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__left{
    width:70%;
    height: 80px;
    display: flex;
    align-items: center;
}
.header__logo{
    width:200px;
    margin-left: 20px;
}
.header_name-logo{
    color: white;
    font-weight: 700;
    font-size: 2.6rem;
}
.header__right{
    width: 40%;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.info-user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-people{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-user{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.name-user{
    padding: 10px 10px 0px;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}
.role-user{
    font-size: 1.4rem;
}
.info__icon-logout{
    font-size:2.6rem;
    color:white;
    margin: 0px 20px;
}
.icon-logout:hover{
    cursor: pointer;
}
/************************************ ID:CONTAINER *************************************/

/**************************** ID:CONTENT *****************************/

#content{
    width:40%;
    margin:0px auto;
    margin-top: 30px;

}
.title{
    color: #000000;
    font-size: 2.6rem;
    text-align: center;
    margin:10px;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
}
form{
    border:1px solid black;
    width:100%;
    padding: 10px ;
    box-shadow:0px 0px 5px #000000 ;
}
form div{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;

}
.button-account{
    width: 120px;
}

label{
    width:35%;
    color: #101E38;
    font-size: 1.6rem;
    font-weight:bold;
    text-align: center;
}
input[type=text],input[type=password],
#member{
    width:60%;
    height:40px;
    border-radius: 10px;
    padding:12px;
    border:1px solid #ccc;
    font-size: 1.4rem;
}
.eye{
    position:absolute;
    right: 32%;
}
#hide1{
    display:none;
    font-size:1.4rem;
}
#hide2{
    font-size:1.4rem;
}
.content__tools button{
    padding:10px 30px;
    border-radius: 10px;
    background-color: #2A4B9A;
    color:white;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}
.content__tools button:hover,
#btn-search:hover{
    opacity: 0.7;
}
/**************************** ID:SLIDEBAR *****************************/

#sidebar{
    width:80%;
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 15px;
}
.sidebar__search{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#search{
    width:30%;
    margin-right: 10px;
    margin-bottom: 20px
}
#btn-search{
    width:80px;
    height:40px;
    border-radius: 10px;
    font-size:1.4rem;
    background: #2a4b9a;
    color:#fff;
    border: none;
    font-weight: 500;
}

#btn-search
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.header-table{
    background: #2A4B9A;
    color: rgb(252, 249, 249);
}
.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr td{
    font-size: 14px;
}
thead tr th{
    font-size: 14px;
    /* color:#172B5B; */
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}



/* ------------------------------------------- FOOTER ------------------------------------ */
#footer {
    background: #172b5b;
    background: -webkit-linear-gradient(59deg, #2A4B9A, #172b5b);
    background: linear-gradient(59deg, #2A4B9A, #172b5b);
    color: white;
    margin-top:100px;
  }
  
#footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
#footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
.copy {
    font-size: 1.4rem;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}
  
.footer-middle {
    padding-top: 2em;
    color: white;
}
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
  
  
  /* footer social icons */
  
.social-network a.icoFacebook:hover {
    background-color: #172b5b;
}
  
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
  
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
  
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}
.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}
  
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
  
.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
  
.social-network a {
    background-color: #F9F9F9;
}