<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/Assets/css/HomePage/Contact.css">
    <!-- link ho tro header, content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link ho tru footer -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- ---------------header--------------- -->
    <header>
        <div class="header-main"> 
            <div class="header-left">
                <!-- id: logo -->
                <img class="header-logo" src="/Assets/img/logo.png" />
                <!-- id: name-company -->
                <h1 class="header-namelogo">Waterfall Process Management</h1>
            </div>
            <div class="header-right">
                <nav class="header-right-menu">
                <!-- id: name-menu -->
                    <ul>
                        <li><a href="./Home.html"title="pagehome.html" target="_self" >Home</a></li>
                        <li><a href="#"title="pagecontact.html"target="_self">Contact</a></li>
                        <li><a href="./Address.html" title="address.html" target="_self">Address</a></li>
                    </ul>
                </nav>
                <!-- id: icon-login -->
                <div class="header-right-login">
                    <ul>
                        <li><a href="./Login.html"title="Loginpage.html"target="_self">Login</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- ------------container-------------- -->
    <div class="content-container">
        <div class="form">
            <form class="form-1" action="" id="form1">
                <div class="contact-form"><h1 class="title">Contact us</h1></div>
                <div class="form-1-1"> 
                    <input type="text" id="fname" name="fname" placeholder="Full Name"><br>
                    <input type="text" id="femail" name="femail" placeholder="Email"><br>
                    <input type="text" id="fcontent" name="fcontent" placeholder="Message"><br>
                    <input type="submit" value="Send Message">
             </div>
    </div>
    <!-- end content container -->
    <!-- --------------footer---------------- -->
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Branches</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Phan Chu Trinh, Binh Thanh district, HCM City</a></li>
                                <li><a href="#">Tran Phu, Phu, Phuoc Ninh district, Da Nang City</a></li>
                                <li><a href="#">Mac Thai To, Yen Hoa distrcit, Ha Noi City</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Contact us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Email: stscompany@gmail.com</a></li>
                                <li><a href="#">Phone: (+84)123654789</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Teams</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Nguyễn Quang Hiếu</a></li>
                                <li><a href="#">Nguyễn Hải</a></li>
                                <li><a href="#">Đặng Nguyễn Bảo Hoài</a></li>
                                <li><a href="#">Huỳnh Ngọc Long</a></li>
                                <li><a href="#">Nguyễn Trí</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2022 - Company STS. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- --------------end footer---------------- -->
</body>
</html>