<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Assets/css/HomePage/Home.css">
    <!-- link ho tro header, content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- Link ho tru footer -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header-main"> 
            <div class="header-left">
                <!-- id: logo -->
                <img class="header-logo" src="/Assets/img/logo.png" />
                <!-- id: name-company -->
                <h1 class="header-namelogo">Waterfall Process Management</h1>
            </div>
            <div class="header-right">
                <nav class="header-right-menu">
                <!-- id: name-menu -->
                    <ul>
                        <li><a href="#"title="pagehome.html" target="_self" >Home</a></li>
                        <li><a href="./Contact.html"title="pagecontact.html"target="_self">Contact</a></li>
                        <li><a href="./Address.html" title="address.html" target="_self">Address</a></li>
                    </ul>
                </nav>
                <!-- id: icon-login -->
                <div class="header-right-login">
                    <ul>
                        <li><a href="./Login.html"title="Loginpage.html"target="_self">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- ---------------container-------------- -->
    <div class="content-container">
        <div class="w3-container">
            <div class="img-wtf">
                <img class="img-wtf1" src="/Assets/img/wtf1.png" alt="">
            </div>
            <div class="thongtin">
                <h1 id="TQ">Overview</h1>
                <p>The waterfall model is a model of the software development process in which the development process looks like a flow, with phases being executed in strict order and without Rollback or leapfrog is: requirements analysis, design, implementation, testing, integration, and maintenance.</p>
                <h1 id="GĐ">The phases of the waterfall model are executed in strict order with no rollbacks or leaps: requirements analysis, design, implementation, testing, integration, and maintenance.</h1>
                <h2>Requirement gathering:</h2>
                <p> This is the stage of determining the functional and non-functional requirements that the software system should have. The output of this phase is the requirements specification document. This document will be the foundation for the next phases to the end of the project. </p>
                <h2>System Analysis:</h2>  
                <p> It is the stage of determining how the software system meets the requirements of the customer. This phase performs analysis and design of the software system.</p> 
                <h2>Coding:</h2>  
                <p> Is the stage of product implementation based on requirements specification and module design document.</p> 
                <h2>Testing:</h2> 
                <p> The tester will receive the product from the dev and perform the test for the component team and test the system. The final stage of testing will be Acceptance Testing, this phase also includes the participation of customers.</p> 
                <h2>Implementation:</h2>
                <p> Deploy the system to the customer's environment.</p> 
                <h2>Operations & Maintenance:</h2> 
                <p> This is the installation, configuration and training phase for the customer. This phase corrects product defects (if any) and develops new changes requested by the customer.</p>
                <h1 id="AD">Apply</h1>
                <p>Usually applied to projects that don't change requirements often.</p>
                <h1 id="ĐĐ">Characteristics</h1>
                <h2>Advantage:</h2>
                  <p>Easy to use, accessible Well-defined stages and activities Confirm at each stage, ensuring early detection of defects Cons:
                      It is very difficult to return to any stage once it is over. Its flexibility and range of adjustment is quite difficult and expensive.</p>
              </div>
          </div>
    </div>
    <!-- end content container -->
    <!-- star footer -->
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Branches</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Phan Chu Trinh, Binh Thanh district, HCM City</a></li>
                                <li><a href="#">Tran Phu, Phu, Phuoc Ninh district, Da Nang City</a></li>
                                <li><a href="#">Mac Thai To, Yen Hoa distrcit, Ha Noi City</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Contact us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Email: stscompany@gmail.com</a></li>
                                <li><a href="#">Phone: (+84)123654789</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Teams</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Nguyễn Quang Hiếu</a></li>
                                <li><a href="#">Nguyễn Hải</a></li>
                                <li><a href="#">Đặng Nguyễn Bảo Hoài</a></li>
                                <li><a href="#">Huỳnh Ngọc Long</a></li>
                                <li><a href="#">Nguyễn Trí</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2022 - Company STS. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- --------------end footer---------------- -->
</body>
</html>